#logoNav{
    height: 50px;
    width: 100px;
}
@media screen and (max-width: 400px){
    #imgChallange{
        width: 80px;
        height: 80px;
    }
    #logo{
        width: 200px;
        height: 80px;
    }
    #imgFitur{
        height: 100px;
        width: 100px;
    }
}
@media screen and (min-width: 500px){
    #imgChallange{
        width: 100px;
        height: 80px;
    }
    #logo{
        width: 240px;
        height: 100px;
    }
    #imgFitur{
        height: 250px;
        width: 200px;
    }
}